<head><title>LOG FILE</title><meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/><style>body {font-size:16px;font-weight:bold}td {font-face:monospaced;font-size:12px}th {font-size:14px;font-weight:bold;background:#AAAAAA}</style></head><body><p>
Thu Mar 23 19:47:07 AEDT 2017
<table width = '90%' border='1' cellspacing = '0' cellpadding='3'><tr valign='top'><th width='50px'>LEVEL</th><th width='100px'>TIME</th><th>THREAD</th><th>CLASS</th><th>METHOD</th><th>MESSAGE</th></tr>
</table></body>
<head><title>LOG FILE</title><meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/><style>body {font-size:16px;font-weight:bold}td {font-face:monospaced;font-size:12px}th {font-size:14px;font-weight:bold;background:#AAAAAA}</style></head><body><p>
Fri Mar 24 13:23:33 AEDT 2017
<table width = '90%' border='1' cellspacing = '0' cellpadding='3'><tr valign='top'><th width='50px'>LEVEL</th><th width='100px'>TIME</th><th>THREAD</th><th>CLASS</th><th>METHOD</th><th>MESSAGE</th></tr>
</table></body>
<head><title>LOG FILE</title><meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/><style>body {font-size:16px;font-weight:bold}td {font-face:monospaced;font-size:12px}th {font-size:14px;font-weight:bold;background:#AAAAAA}</style></head><body><p>
Fri Mar 24 16:32:31 AEDT 2017
<table width = '90%' border='1' cellspacing = '0' cellpadding='3'><tr valign='top'><th width='50px'>LEVEL</th><th width='100px'>TIME</th><th>THREAD</th><th>CLASS</th><th>METHOD</th><th>MESSAGE</th></tr>
</table></body>
<head><title>LOG FILE</title><meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/><style>body {font-size:16px;font-weight:bold}td {font-face:monospaced;font-size:12px}th {font-size:14px;font-weight:bold;background:#AAAAAA}</style></head><body><p>
Sun Mar 26 03:05:37 AEDT 2017
<table width = '90%' border='1' cellspacing = '0' cellpadding='3'><tr valign='top'><th width='50px'>LEVEL</th><th width='100px'>TIME</th><th>THREAD</th><th>CLASS</th><th>METHOD</th><th>MESSAGE</th></tr>
</table></body>
<head><title>LOG FILE</title><meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/><style>body {font-size:16px;font-weight:bold}td {font-face:monospaced;font-size:12px}th {font-size:14px;font-weight:bold;background:#AAAAAA}</style></head><body><p>
Tue Mar 28 16:10:55 AEDT 2017
<table width = '90%' border='1' cellspacing = '0' cellpadding='3'><tr valign='top'><th width='50px'>LEVEL</th><th width='100px'>TIME</th><th>THREAD</th><th>CLASS</th><th>METHOD</th><th>MESSAGE</th></tr>
</table></body>
